/* 

	----  M A I N   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- text formatting (size, color, margin, padding, etc)
	- image formatting (padding, scale, width, etc)
	- Includes; css for the site banner, footers, project tiles etc

*/

/* -- FONT FORMATTING -- */
.gillsanstext, .fontformat a, .smallfootertext, .regularfootertext, .largefootertext, p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.bebasneuetext, .main-title, .titlefootertext, .bodytitle, .project-card-subtitle, .main-title-subtitle {
	font-family: "bebas-neue";
}

/* -- TEXT FORMATTING -- */
.main-title {
	font-size: 130px;
	z-index: 100;
	color: white;
	text-shadow: 0px 0px 10px black;
	font-style: normal;
}

.main-title-subtitle {
	font-size: 50px;
	color: white;
	text-shadow: 0px 0px 10px black;
	font-style: normal;
}

.caption {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center-text {
	text-align: center;
}

.justify-text {
	text-align: justify;
}

.fontformat a {
    font-size: 20px;
}

.bodytitle {
	font-size: 60px;
	padding-top: 50px;
}

.project-card-subtitle {
	font-size: 45px;
}

.bodyparagraphtext {
	font-size: 20px;
}

#summary-top-text {
	padding-top: 60px;
}

.cta {
	font-size: 20px;
}

/* -- FOOTER TEXT -- */
.titlefootertext {
	font-size: 45px;
	color: white;
	text-shadow: 0px 0px 10px black;
}
.smallfootertext {
	font-size: 14px;
	color: white;
	text-align: center;
	padding-top: 10px;
}

.regularfootertext {
	text-align: center;
	color: white;
	font-size: 20px;
	margin-bottom: 10px;
}

.largefootertext {
	font-size: 25px;
	color: white;
	text-shadow: 0px 0px 10px black;
}

.largefootertext li {
	list-style-type: '> ';
}

	footer a,span {
	color: white;
	}

	footer a:hover {
	color: #83B9EC;
	}

/* -- IMAGE FORMATTING -- */
.iconthing {
	padding-left: 0px;
	padding-right: 0px;
}

.banner {
	background-image: url("../site-images/hosted-project-page-banner.jpg");
	width: 100%;
	background-size: cover;
	background-position: center top;
}

/* project banner classes for the "hosted projects" section*/
.CHICAGO-project-banner-image {
	background-image: url("../card-banners/chicago-card-banner.jpg");
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}

.PORTLAND-project-banner-image {
	background-image: url("../card-banners/portland-card-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}

.TORONTO-project-banner-image {
	background-image: url("../card-banners/toronto-card-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}

.KANSAS-project-banner-image {
	background-image: url("../card-banners/kansas-card-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}

.GATLIN-project-banner-image {
	background-image: url("../card-banners/gatlin-card-banner.png");
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}


