/* 

	----  M E D I A  Q U E R I E S   C S S   D O C  ----
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	For:
	- catchall for media queries from all CSS documents
	- structured by the purpose of the class the media query is editing
		> ex: media query to change a class for text would go under "text media queries"
	- Includes media queries for; fonts, Bootstrap mods, images etc

*/

/*  media queries */
@media only screen and (min-width: 1300px) {
	.project-card-text {
		padding-top: 60px;
		padding-bottom: 60px;
		padding-right: 10%;
		padding-left: 10%;
	}
	
	.titletext {
		font-size: 175px;
	}
	
	.bodytitle {
		font-size: 75px;
	}
	
	.bodycontainer p{
		font-size: 20px;
	}
	
	#bannercontainer {
		padding-top: 10%;
		padding-bottom: 10%;
	}
	
	.mainbody {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media only screen and (min-width: 2200px) {
	.project-card-text {
		padding-top: 100px;
		padding-bottom: 100px;
		padding-right: 10%;
		padding-left: 10%;
	}
	
	.titletext {
		font-size: 175px;
	}
	
	.bodytitle {
		font-size: 75px;
	}
	
	.bodycontainer p{
		font-size: 20px;
	}
	
	#bannercontainer {
		padding-top: 10%;
		padding-bottom: 10%;
	}
	
	.mainbody {
		padding-left: 8%;
		padding-right: 8%;
	}
}

@media only screen and (max-width: 576px) {
	#summary-top-text {
	padding-top: 0px;
	}
}